*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
   
    background:linear-gradient(white,skyblue,grey);
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.outer > h1{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-shadow: 1px 2px 2px black;
}


.inner{
    width: 500px;
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    border-radius: 40px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.6);
}
.box{
   
    background: linear-gradient();
   
}
input{
    width: 80%;
    flex-basis: 70%;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    letter-spacing: 3px;
}
button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:#666;
    color: #fff;
}
